/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 3:11:27 PM
    Author     : Manan Singh
*/

@import url(https://fonts.googleapis.com/css?family=Roboto|Oswald);

body{
    font-family: 'Oswald', sans-serif;
}

#banner{
    font-size: 20px;
}