/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 3:10:52 PM
    Author     : Manan Singh
*/

html, body{
    width: 100%;
    margin: 0px;
    background-color: sandybrown;
}

#nav-bar{
    padding: 10px;
    background-color: indianred;
}

#banner{
    display: inline-block;
    width: 85%;
    background-color: firebrick;
    text-align: center;
    float: left;
    height: 110px;
}

#banner-img{
    display: inline-block;
    width: 15%;
    background-color: green;
    height: 110px;
}

#content{
    padding: 10px;
    margin-left: 100px;
    width: 75%;
    background-color: peru;
    border-radius: 5px;
}

#page-links{
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav-bar-link{
    float: left;
}

.nav-link-box{
    padding: 5px;
    display: block;
    width: 200px;
    background-color: #dddddd;
}

#bannerDisplay{
    min-width: 100%;
    max-height: 100%;
}