/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 3:10:52 PM
    Author     : Manan Singh
*/

html, body{
    width: 100%;
    margin: 0px;
    background-color: antiquewhite;
}

#nav-bar{
    float: right;
    padding: 6px;
    width: 200px;
    background-color: indigo;
    border-radius: 10px;
}

#banner{
    height: 126px;
    width: 1268px;
    background-color: #6600ff;
    text-align: center;
    padding: 20px;
}

#banner-img{
    display: inline-block;
    width: 210px;
    background-color: green;
    height: 220px;
    float: right;
}

#content{
    background-color: burlywood;
    display: inline-block;
    width: 83%;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

#page-links{
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav-bar-link{
    
}

.nav-link-box{
    padding: 5px;
    display: block;
    width: 200px;
    background-color: bisque;
}

#bannerDisplay{
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
}