/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 12:06:35 PM
    Author     : Manan Singh
*/
@import url(https://fonts.googleapis.com/css?family=Roboto|Oswald|Ubuntu);

body{
    font-family: 'Ubuntu', sans-serif;
}

#banner{
    font-size: 40px;
}
