@import url(https://fonts.googleapis.com/css?family=Nunito);

html, body{
	height: 100%;
	background-color: #47473D;
	margin-left: auto;
	margin-right: auto;
}

#titleBox{
	padding: 10px;
	color: white;
	font-family: "Nunito", sans-serif;
}

#mainBox{
display: block;
	
}

#mainDisplay{
	padding: 20px;
}

#imageDisplay{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	
}

#imgContainer{
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 450px;
}

#image{
	display: block;
	width: auto;
	height: auto;
	max-height: 450px;
	max-width: 450px;
}

#captionDisplay{
	display: table;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	background-color: white;
	border-radius: 25px;
	border: 2px solid pink;
	padding: 20px;
	min-width: 100px;
    max-height: 150px; 
}

#toolbarDisplay{
	background-color: white;
	line-height: 90px;
	width: 100%;
	min-height: 85px;
	text-align: center;
	border-top: thin solid black;
	
	font-size: 0px;
}

.barButton{
	background-color: white;
	color: gray;
	text-align: center;
	padding: 25px;
	display: inline;
	font-size: 20px;
	font-family: "Nunito", sans-serif;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.barButton:hover{
	background-color: gray;
	color: white;
}

.central {
	text-align: center;
	vertical-align: middle;
	line-height: 82px;
}

#play, #prev, #next{
	width: 16px;
	height: 14px;
}























